.loading-container {
  background: #000A;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: none;
  height: 100vh;
  width: 100vw;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  color: #FFF;
  padding: 0;
  margin: 0;
}

.loading-container.active {
  display: flex;
}

.loading-container h2 {
  margin-top: 0;
}

.loading {
  margin: 1rem auto;
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  border: 8px solid #CCC6;
  border-top-color: #FFF;
}
